.cardWrap {
    width: 260px;
    transition: 0.3s;
}

.card {
    text-decoration: none;
}

.card img {
    width: 100%;
}

.h2 {
    color: #FFFFFF;
}

.cardWrap:hover {
    transform: scale(1.1);
}